* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}
.doc-btn{
  position: fixed;
  bottom:2%;
  right:2%;
  display: none;
}

nav {
  user-select: none;
  background: #fff;
}

.nav-wrapper {
  padding: 0 10%;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  background-image: url("/img/hamburger.svg");
}

.navbar-toggler-icon-close {
  background-image: url("/img/cancel.svg");
  width: 30px;
  height: 30px;
  background-size: 20px;
}

nav ul > li > a {
  color: #556270;
  margin: 0 5px;
  font-weight: 600;
}

nav > ul > li > .active,
.navbar-brand {
  color: #d9232d;
}

.dropdown .nav-link:after{content:'⯆';}
.dropdown.show .nav-link:after{content:'⯅';}


@media (hover: hover) {
  .dropdown-menu {
    margin-top: -10px;
  }
  nav ul > li:hover > a,
  .dropdown-item:hover,.active {
    color: #d9232d;
    background: transparent;
  }
}

@media (hover: none) {
  a:hover,.dropdown-item:hover,.active {
    color: #d9232d;
  }
}

@media (max-width:1110px){
  .nav-wrapper {
    padding: 0 5%;
  }
}

@media (max-width: 992px) {
  img {
    height: auto;
  }
  .dropdown-menu {
    border: none;
    background: transparent;
  }
  .navbar-brand span {
    font-size: 30px;
  }

  .collapsing {
    transition: none !important;
    display: none;
  }
  
  #nav {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }

  #nav ul {
    background: #fff;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: calc(100vh - 35%);
    padding: 20px 0 0 20px;
    border-radius: 15px;
  }

  .navbar-toggler-icon {
    z-index: 1;
  }
  
  .btn,
  .navbar-brand {
    z-index: -2;
  }
  
}

img {
  height: 100vh;
  width: 100%;
}

.carousel{position: relative;}

.carousel-item:before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
}

.carousel {
  overflow: hidden;
}

.carousel-control-next {
  right:-5%;
}

.carousel-control-prev {
  left:-5%;
}

.carousel-control-next-icon {
  background-image: url("/img/next.svg");
  width: 50px;
  height: 50px;
  background-size: 3rem;
}

.carousel-control-prev-icon {
  background-image: url("/img/prev.svg");
  width: 50px;
  height: 50px;
  background-size: 3rem;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.carousel-caption {
  top: 30%;
}

.carousel-caption h1 {
  font-size: 4rem;
}

.carousel-caption p {
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .carousel-caption h1 {
    font-size: 2rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .carousel-indicators {
    display:none;
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-size: 30px;
  }

  .carousel-control-next {
    top:20%;
    right:-3%;
  }
  
  .carousel-control-prev {
    top:20%;
    left:-3%;
  }

  .header2 h1{
    font-size:30px;
  }

}

.header2 ul{list-style:none;}
.header2 ul li:before{content:'✅'}
.logos .row div img{transform: scale(1);transition: all 0.6s;} 
.logos .row div:hover img{transform: scale(1.1);} 
.logos .row div:nth-child(1) img{width:70px;height:30px;}
.logos .row div:nth-child(2) img{width:74px;height:30px;}
.logos .row div:nth-child(3) img{width:78px;height:26px;}
.logos .row div:nth-child(4) img{width:82px;height:42px;}
.logos .row div:nth-child(5) img{width:80px;height:33px;}
.logos .row div:nth-child(6) img{width:80px;height:26px;}
.logos .row div{padding:10px 0;}
.fa{color:tomato}